body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #dee2e6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    background-color: #343a40;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    vertical-align: middle;
}

th {
    background-color: #333;
    color: #333;
}
